@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* header nav */

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    row-gap: 0.3rem;
}

/* DESKTOP */

header {
    top: 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    width: 100%;
    background-color: #0e2f56;
}

header nav .items {
    display: flex;
    flex-direction: row;
    width: 25rem;
    color: white;
    justify-content: space-between;
}

header nav .items h2 {
    font-weight: 400;
    font-size: 1.4rem;
}

header nav .items h2:hover {
    cursor: pointer;
}

header nav img {
    height: 10rem;
    width: auto;
}

/* class video and description */

.container {
    position: relative;
    width: 100%;
    margin-top: -0.1rem;
    margin-bottom: -0.3rem;
}

.container video {
    width: 100%;
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    font-family: 'Rubik';
    background-color: rgb(39, 39, 39);
    width: 100%;
    opacity: 0.8;
    top: 40%;
    transform: translate(0, -40%);
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
}

div.overlay h1 {
    font-weight: 500;
}

div.overlay h2 {
    font-weight: 400;
}

div.overlay h3 {
    font-weight: 300;
}

/* Our mission */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 100%;
    background-color: #560e53;
    color: white;
    font-family: 'Rubik';
    text-align: center;
}

.about h1 {
    font-weight: 500;
    margin-bottom: -0.5rem;
}

.about h2 {
    font-size: 1.5rem;
    font-weight: 300;
    width: 70%;
}

/* Products */

.products {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    background-color: #1c5dab;
    color: white;
    font-family: 'Rubik';
    align-items: center;
    text-align: center;
}

div#prodtitle.products.text {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

div#prodtitle.products.text h1 {
    font-weight: 500;
}

div.products .text {
    width: 50%;
    text-align: center;
}

.products .text h1 {
    font-weight: 400;
}

.products .text h2 {
    font-weight: 300;
}

.products img {
    width: 50%;
    height: 100%;
    right: 0;
}

/* employees */

.mobile {
    display: none;
}

div#who-title.products.text {
    display: flex;
    justify-content: center;
    background-color: #560e53;
}

div#who-title.products.text h1 {
    font-weight: 500;
}

.employees {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 33rem;
    background-color: #560e53;
    /* column-gap: 1rem; */
    align-items: center;
}

.employees img {
    height: 90%;
    width: auto;
    border-radius: 1.9rem;
    padding: 1rem 0.5rem;
}

.employees div.amir {
    text-align: center;
    width: 70%;
    color: white;
    padding: 1rem 1rem;
}

.employees div.miguel {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: white;
}

.employees .amir h1 {
    font-weight: 500;
}

.employees .amir h2 {
    font-weight: 300;
}

.employees .miguel h1 {
    font-weight: 500;
}

.employees .miguel h2 {
    display: flex;
    font-weight: 300;
    width: 70%;
    text-align: center;
}

.employees h1, h2 {
    font-family: 'Rubik';
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #0e2f56;
    width: 100%;
    padding: 1rem 0;
}

footer .first-level{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15;
    background-color: #0e2f56;
    width: 100%;
    color: white;
    font-family: 'Rubik';
}

footer .first-level h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

footer .first-level h2 {
    font-size: 1rem;
    font-weight: 400;
}

footer .first-level .social i {
    margin-top: 2rem;
    width: 2rem;
    height: 2rem;
}

footer .second-level{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 5;
    background-color: #0e2f56;
    width: 100%;
    color: white;
    font-family: 'Rubik';
}

footer .second-level h2 {
    font-size: 1rem;
    font-weight: 500;
}

/* mobile */

@media screen and (max-width:480px) {

    header nav .items{
        justify-content: flex-end;
        column-gap: 4px;
        padding-right: 1rem;
    }

    header nav img {
        height: 5rem;
        width: auto;
    }

    header nav .items h2 {
        font-size: 0.7rem;
        background-color: white;
        color: #0e2f56;
        padding: 5px;
        border-radius: 10px;
    }

    .overlay {
        background-color: transparent;
        width: 100%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0.9;
    }

    .overlay h1 {
        font-size: 1.5rem;
    }

    .overlay h2 {
        font-size: 1rem;
    }

    .overlay h3 {
        font-size: 0.7rem;
    }

    /* Who are we */

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        align-items: center;
        width: 100%;
        background-color: #560e53;
        color: white;
        font-family: 'Rubik';
        text-align: center;
    }

    .about h1 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .about h2 {
        font-size: 0.8rem;
        font-weight: 300;
        width: 70%;
    }

    /* Products */

    div#prodtitle.products.text h1{
        font-weight: 400;
        font-size: 1.4rem;
    }
    
    .products .text h1 {
        font-size: 1rem;
        font-weight: 400;
        padding: 0rem 0.2rem;
    }
    
    .products .text h2 {
        font-size: 0.6rem;
        font-weight: 500;
        padding: 0rem 0.2rem;
    }

    /* founders and crafters */

    /* founders and crafters */

    div.employees div.amir {
        display: none;
    }

    div.employees div.miguel {
        display: none;
    }

    .employees .mobile {
        background-color: #560e53;
        color: white;
        height: fit-content;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: fit-content;
        width: 100%;
        margin-top: -1.15rem;
        padding-bottom: 0.4rem;
    }

    .employees .mobile .amir-mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: -2.2rem;
        width: 50%;
    }

    .employees .mobile .miguel-mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
    }

    .employees .mobile .amir-mob h1{
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: -0.1rem;
    }

    .employees .mobile .miguel-mob h1{
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: -0.1rem;
    }

    .employees .mobile .amir-mob h2{
        font-size: 0.7rem;
        width: 75%;
        font-weight: 300;
    }

    .employees .mobile .miguel-mob h2{
        font-size: 0.7rem;
        width: 75%;
        font-weight: 300;
    }

    div#who-title.products.text h1 {
        font-weight: 400;
        font-size: 1.4rem;
    }
    
    div#who-title.products.text {
        display: flex;
        justify-content: center;
        background-color: #560e53;
        font-size: ;
    }
    
    .employees {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: 15rem;
        background-color: #560e53;
        /* column-gap: 1rem; */
        align-items: center;

    }
    
    .employees img {
        height: 100%;
        width: auto;
        border-radius: 10%;
    }

    /* footer */
    
    footer .first-level .contact {
        display: none;
    }

    footer .first-level .menu {
        display: none;
    }

    footer {
        margin-top: 5.5rem;
        padding-top: ;
    }

    footer .first-level .newsletter-social h1 {
        font-size: 1rem;
    }

    footer .first-level .newsletter-social .social {
        display: flex;
        justify-content: center;
    }

    footer .second-level h2 {
        font-size: 0.7rem;
    }
}

/* tablet */

@media screen and (min-width: 481px) and (max-width:850px) {

    html {
        font-size: 16px;
    }

    header nav img {
        height: 14rem;
        width: auto;
    }

    .overlay {
        background-color: transparent;
        width: 100%;
        top: 30%;
        left: 55%;
        transform: translate(-55%, 0);
        opacity: 0.9;
    }

    .overlay h1 {
        font-size: 2rem;
    }

    .overlay h2 {
        font-size: 1.5rem;
    }

    .overlay h3 {
        font-size: 1rem;
    }

    /* Who are we */

    .about {
        height: 15rem;
    }

    .about h2 {
        font-size: 1.5rem;
        font-weight: 300;
        width: 70%;
    }

    /* Products */

    div#prodtitle.products.text h1{
        font-weight: 500;
    }
    
    .products .text h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .products .text h2 {
        font-size: 1.1rem;
        font-weight: 300;
    }

    #second-bike {
        padding-right: 2rem;
    }

    /* founders and crafters */

    div#who-title.products.text h1 {
        font-weight: 500;
    }
    
    div#who-title.products.text {
        display: flex;
        justify-content: center;
        background-color: #0e2f56;
    }
    
    .employees {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        height: 18rem;
        background-color: #0e2f56;
        /* column-gap: 1rem; */
        align-items: center;

    }
    
    .employees img {
        height: 90%;
        width: auto;
        border-radius: 10%;
        
    }
    
    .employees h1, h2 {
        font-family: 'Rubik';
    }

    .employees .amir {
        text-align: center;
        width: 20%;
        color: white;
    }
    
    .employees .miguel {
        text-align: center;
        color: white;
        width: 20%;
        /* margin-left: 1rem; */
    }
    
    div.employees div.amir h1 {
        font-size: 1rem;
        font-weight: 500;
    }
    
    div.employees div.amir h2 {
        font-size: 0.75rem;
        font-weight: 200;
    }
    
    .employees .miguel h1 {
        font-size: 1rem;
        font-weight: 500;
    }
    
    .employees .miguel h2 {
        font-size: 0.75rem;
        font-weight: 200;
    }
}